{% extends "mainpage.html" %}
{% block content %}
 <div class="container-narrow">
         <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li ><a href="/">Home</a></li>
                <li class="active"><a href="/apply">Apply</a></li>
                <li><a href="/Infor">Infor</a></li>
            </ul>
            <h3 class="muted">TWCL Hackthon</h3>
        </div>
        <hr>
        <iframe src="https://docs.google.com/forms/d/1czauhZS3lfeJohf4oRvmi_3Gl3c9SLtnS5TaebA676w/viewform?embedded=true" width="600" height="500" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
        <hr>
 </div>
{% endblock %}