{% extends "mainpage.html" %}
{% block content %}
 <div class="container-narrow">
         <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li ><a href="/">Home</a></li>
                <li><a href="/apply">Apply</a></li>
                <li class="active"><a href="/information">Infor</a></li>
            </ul>
            <h3 class="muted">TWCL Hackthon</h3>
        </div>
        <hr>
        <div class="jumbotron">
            <h3>梁智程</h3>
            <p><h4>Phone: 0921-315-607</h4></p>
            <p><h4>Email: chihchengliang@gmail.com </h4></p>
            <br>
            <p>建議抵達方式:</p>
            <p>939公車、922公車、921公車 大成學勤路口下車</p>
        </div>
        <hr>
        <iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://tw.maps.yahoo.com/e/?lat=24.947542058857437&amp;lon=121.38291835784912&amp;q=%E6%96%B0%E5%8C%97%E5%B8%82%E6%A8%B9%E6%9E%97%E5%8D%80%E5%AD%B8%E5%A3%AB%E8%B7%AF%2058%20%E8%99%9F&amp;bb=24.95874795%2C121.36345625%2C24.93637407%2C121.40233755&amp;addr=%E6%96%B0%E5%8C%97%E5%B8%82%E6%A8%B9%E6%9E%97%E5%8D%80%E5%AD%B8%E5%A3%AB%E8%B7%AF%2058%20%E8%99%9F" >載入中…</iframe>
        <hr>
 </div>
{% endblock %}